site_name: "Multilingual Neural Question Understanding"
site_description: Documentation for the research done in the scope of a master thesis in the MAI programe at KU Leuven. In this project, we develop a framework for quantifying question complexity in a cross-lingual NLP system setting. Our work contributes to the growing field of multilingual evaluation, and develops a set of resources that can improve practical NLP system development. The report includes the description of the data gathering and annotation efforts, as well as documentation for the scripts used to process the data and run the experiments.



site_author: Robin Kokot

# Repository
repo_name: rokokot/qtype-eval
repo_url: https://github.com/rokokot/qtype-eval.git
edit_uri: edit/master/docs/MAIreport/docs

# Copyright
copyright: Copyright &copy; 2025 Robin Kokot

# Configuration
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.copy
  palette:
    - scheme: default
      primary: blue grey
      accent: cyan
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      primary: blue grey
      accent: cyan
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

# Extensions
markdown_extensions:
  - footnotes
  - tables
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true
  - attr_list
  - md_in_html

# Plugins
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          selection:
            docstring_style: google
  - git-revision-date-localized:
      enable_creation_date: true
  - minify:
      minify_html: true
  - mkdocs-jupyter:
      include_source: true

# Extra
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/rokokot


# Math support
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

# Page tree
nav:
  - Home: index.md
  - Research Paper:
    - Abstract: paper/abstract.md
    - Introduction: paper/introduction.md
    - Background: paper/background.md
    - Experimental setup: paper/experimental_setup.md
    - Traditional ML baseline: paper/MLbaselines.md
    - PTMLLMs: paper/PTMLLMs.md
    - Results: paper/results.md
    - Conclusion: paper/conclusion.md
  - Experiments:
    - Overview: experiments/overview.md
    - Baseline Models: experiments/baseline_models.md
    - Task design: experiments/task_design.md
    - Ablation Studies: experiments/ablation_studies.md
    - Evaluation: experiments/evaluation.md
  - Data: data/data_overview.md
  - Software documentation:
    - software/tools.md
  - References:
    - references/bibliography.md
